.salon-dashboard-container {
  padding: 20px;
  background-color: #f4f4f4;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  color: #333;
  
}

.opening-days-container {
  width: 70%;
}


/* Services and Employees Container */
.services-employees-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem; /* spacing between the two cards */
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

.services-container,
.employees-container {
  flex: 1 1 600px; 
  max-width: 600px;
  /* min-width: 350px; */
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .services-employees-container {
    flex-direction: column;
    gap: 1.5rem;
  }
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .salon-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .salon-info-section {
    width: 100%;
  }

  .salon-title-row {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .photos-grid {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .dashboard-content {
    padding: 10px;
  }

  .add-photos-placeholder,
  .salon-photo-thumbnail {
    width: 100px;
    height: 100px;
  }
}